*{
  margin: 0;
  padding: 0;
}

@media(max-width: 574px){

  body{
    background-color: #160f6c;
  }

  header{
    border: 3px solid red;
    

    display: flex;
    justify-content: center;
  }

  header img{
    height: 100px;
  }

  .canais{
    display: none;
  }

  .faixa{
    display: none;
  }
}

/* _______________________ */

@media(min-width: 575px){

  body{
    background-color: bisque;
  }
}