*{
  margin: 0;
  padding: 0;
}

@media(max-width: 574px){

  body{
    background-color: #160f6c;
  }

  /* HEADER */
  header{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
  }

  header img{
    height: 200px;
  }

  /* MAIN */
  main{
    /* border: 2px solid yellow; */
    height: 400px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .botão{
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-color: #DDDD;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 5px #FFFF;
    font-weight: bold;
    color: black;
  }

  .botão img{
    height: 30px;
    border-radius: 50%;
  }

   a{
    text-decoration: none;
  }

  
}








/* _________DESKTOP______________ */

@media(min-width: 575px){

  body{
    background-color: bisque;
  }
}