*{
  margin: 0;
  padding: 0;
}

@media(max-width: 574px){

  body{
    background-color: #160f6c;
  }

  /* HEADER */
  header{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
  }

  header img{
    height: 200px;
  }

  /* MAIN */
  main{
    /* border: 2px solid yellow; */
    height: 400px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .whatsapp{
    background-color: #DDDD;
  }

  .whatsapp img{
    height: 30px;
    border-radius: 50%;
  }

  
}








/* _________DESKTOP______________ */

@media(min-width: 575px){

  body{
    background-color: bisque;
  }
}